<html>
  <%- await include("partials/head") %>
  <body>
    <div>
      <%- await include("partials/navbar") %>
      <div class="bg-darkblue">
        <div class="profile">
          <% const member = guild.members.cache.get(user.id) %>
          <div class="container px-0">
            <h3 class="mt-5 text-light text-center text-md-start"><%= bot.language.dashboard.profile  %> </h3>
          </div>
          <div class="container mt-4 mb-5">
            <div class="d-flex row statsBox py-3 px-2">
              <div class="p-4">
                <div class="d-flex flex-column">
                  <div class="d-inline d-md-flex mb-4">
                    <% if(user.avatar.startsWith("a_")) { %>
                      <img class="rounded-2" height="128px" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.gif?size=1024" alt="">
                    <% } else { %>
                      <img class="rounded-2" height="128px" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.webp?size=1024" alt="">
                    <% } %>
                    <div class="ms-md-3">
                      <p class="text-light fw-semibold fs-5 mb-0"><%= user.username %></p>
                      <p style="font-size: 13px; color: rgb(107 114 128);"><%= user.id %> </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="d-flex flex-column">
                      <div class="col-12 scrollbarSettings">
                        <% const memberRoles = [...member.roles.cache.values()].sort((a, b) => b.rawPosition - a.rawPosition).map((r) => r) %> 
                        <div class='py-2 px-2 rounded-1' style="overflow-x: hidden; overflow-y: scroll; height: 10rem; background-color: rgba(22,33,62, 0.5);">
                          <div class="d-flex row">
                            <% for(const role of memberRoles) { %>
                              <div class="col-md-4 mb-2">
                                <div class="d-flex rounded-3 align-items-center px-3 bg-darkblue">
                                  <span data-color="<%= role.color %>" class="roleColor" style="border-radius: 100%; height: 15px; width: 15px;" ></span>
                                  <span class="px-2 py-1 text-light"><%= role.name %></span>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const sidebarBttn = document.querySelector(".profile");
    sidebarBttn.classList.add("active");

    $("#profileForm").on("submit", async(e) => {
      e.preventDefault();
      toastr.success("Your profile have been edited successfully.")
    });

    const colorCircles = document.querySelectorAll(".roleColor")
    colorCircles.forEach((el) => {
      let colorData = $(el).attr("data-color");
      colorData = Number(colorData).toString(16);
      
      el.style.backgroundColor = `#${colorData}`;
    })
  </script>
</html>